<h1>Listing agents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.name %></td>
        <td><%= link_to 'Show', agent , :class => "button tiny"%></td>
        <td><%= link_to 'Edit', edit_agent_path(agent), :class => "button tiny success" %></td>
        <td><%= link_to 'Destroy', agent, :class => "button tiny alert", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agent', new_agent_path , :class => "button tiny"%>
