<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>
<p>
  <strong>Default email:</strong>
  <%= @agent.contact.email if !@agent.contact.nil? %>
</p>

<p><strong>contacts</strong></p>

<table>
  <thead>
    <tr>
      <th>email</th>
      <th colspan="2"></th>
      <th>
        <%= link_to 'Add email', new_agent_contact_path(@agent), :class => "button tiny" %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.email %></td>
        <td><%= link_to 'Show', agent_contact_path(@agent,contact), :class=>"button tiny" %></td>
        <td><%= link_to 'Edit', edit_agent_contact_path(@agent,contact), :class=>"button tiny success" %></td>
        <td><%= link_to 'Destroy',  agent_contact_path(@agent,contact), :class => "button tiny alert", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Edit', edit_agent_path(@agent) , :class=>"button tiny"%> 
<%= link_to 'Back', agents_path , :class=>"button tiny success"%>
